html {
    background-color: #eaf2ea;
    min-height: 1000px;
    font-family: 'helvetica neue';
  }
  
  h1 {
    color: #fff;
    padding: 10px;
  }
  
  .box {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }
  
  #heading {
    background-color: #006330;
    text-align: center;
  }
  
  .item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
  }
  
  .item:last-child {
    border-bottom: 0;
  }
  
  input:checked+p {
    text-decoration: line-through;
    text-decoration-color: #006330;
  }
  
  input[type="checkbox"] {
    margin: 20px;
  }
  
  p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #00204a;
  }
  
  form.contact {
    text-align: center;
    margin-left: 20px;
    background-color: #fff;
    width: 313px;
  }
  
  button {
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #006330;
    color: #fff;
    font-size: 30px;
    padding-bottom: 6px;
    padding-top: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
    border-width: 0;
  }
  
  input[type="text"] {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: white;
    font-size: 20px;
    font-weight: 200;
    width: 313px;
    border-bottom: 1px solid black;
   
  }
  
  input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #006330;
    
  }
  
  ::placeholder {
    color: grey;
    opacity: 1;
  }
  
  footer {
    color: white;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-collapse: collapse;
    margin-bottom: 20px;
   
  }

th {
  font-size: 1.5rem;
  border: 1px solid black;
  padding-left: 10;
  padding-right: 10;

}
td {
  border: 0.5px solid black;

}
.addText {
  text-align: center;
  color: black;
}
.addArea {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

}

 #textFields {
  text-align: center;
 }

 #home {
  display: block;
  margin-right: 20px;
  margin-left: auto;
  height: 2px;
  width: 100px;
  font-family: 'helvetica neue';
  font-weight: 600;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
 }
  